/* .alert.alert-danger.alter-dismissable.fade.show {
    
   }

.alert.alert-success.alter-dismissable.fade.show {
    position: absolute;
   } */

#definitionBody, #chatBody {
   display: table;
   margin: 0 auto;
   list-style: none;
}

#messages {
   list-style: none;
}
